
*{
    margin: 0;
    padding: 0;
}

header{
    background:black;
    
}

.slider{
    background-color:white ;
}

#footer{
    background-color: rgb(39, 42, 44);
    overflow: auto;
    padding-bottom: 100px;
}



body{
    background-color:white;
    min-height: 100px;
}

.navbar navbar-inverse{
    background-color: royalblue;
}

.mgf{
    color:lightskyblue;
}

html,body{
    height: 100%;
    
}

